node_modules/
.env
variables.env
documents/
scripts/
logs/
test-result-auth-error.js
test-result-auth.json
test-result-error.json
test-result.json
mapa_inicial.json
ngrok
ngrok-v3-stable-linux-amd64.tgz
