<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
    <title>{{subject}}</title>
    <style media="screen">
      *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      html, body{
        font-family: 'Open Sans', sans-serif;
        font-size: 1em;
        color: #4a4a4a;
      }
      .templates{
        width: 100%;
        height: 100%;
        padding: 100px 0;
        background: #fafafa;
      }
      .templates .templates-content{
        width: 900px;
        margin: 0 auto;
        box-sizing: border-box;
        background: white;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
      }
      .templates .templates-content .templates-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        background: -webkit-linear-gradient(#0083AE, #1970b9);
        padding: 30px;
        color: white;
      }
      .templates .templates-content .templates-header h2{
        font-family: 'Poppins', sans-serif;
      }
      .templates .templates-content .templates-header span{
        font-weight: bold;
      }
      .templates .templates-content .templates-body{
        padding: 30px;
      }
      .templates .templates-content .templates-body div{
        font-size: .9em;
        display: flex;
        margin-bottom: 25px;
      }
      .templates .templates-content .templates-body div p{
        font-weight: bold;
        margin-right: 10px;
      }
      .templates .templates-content .templates-body div span{
        text-align: justify;
      }
    </style>
</head>
  <body>
    <div class="templates">
      <div class="templates-content">
        <div class="templates-header">
          <h2>BOLUFE AUTO SALES</h2>
          <!-- <span>March 9, 2018 - 10:52 PM</span> -->
        </div>
        <div class="templates-body">
          {{#unless locale}}
            <div>
              <p>{{client}}</p>
            </div>
            <div>
              <p>¡Gracias por enviar su solicitud de venta!</p><br />
              <span>Gracias por enviar su solicitud de venta. Un representante de Bolufe Auto Sales se pondrá en contacto con usted dentro de las siguientes 24 horas. Mientras tanto, siéntase libre de explorar nuestro sitio y encuentre las mejores ofertas de <strong> carros usados en Miami</strong></span>
            </div>
          {{else}}
              <div>
                <p>{{client}}</p>
              </div>
              <div>
                <p>Thank You for Submitting Your Sell Application!</p><br />
                <span>Thank you for submitting your Credit Application. A Bolufe Auto Sales representative will be in contact with you within 24 hours. Meanwhile, feel free to browse our website and find the best deals on <strong> used cars in miami</strong></span>
              </div>
          {{/unless}}
        </div>
      </div>
    </div>
  </body>
</html>
